# Ignore datasets
dataset/
dataset_split/
test_images/
SavingNeem An image dataset for/
*.zip

# Ignore virtual environment
venv/

# Ignore uploaded and sample images
static/uploads/
test_samples/

# Ignore temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.log

# Ignore model checkpoints if too large
*.h5
*.keras
*.ckpt
